@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";

/* @import './base.css'; */
body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}
